.Button {
    flex: 0 0 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;

    border: 1px solid snow;
    outline: none;
    border-radius: 6px;
    background-color: transparent;
    color: snow;

    transition: all 0.1s ease-in-out;

    user-select: none;
    cursor: pointer;

    @media screen and (max-width:240px) {
        flex-grow: 2;
    }
}

.Button:hover {
    color: #3d79bd;
    background-color: snow;
}

.Button:active {
    transform: scale(0.95);
}

.Button:disabled {
    display: none;
}


[type="submit"] {
    flex: 2 1 10%;
    padding: 6px 18px;
}

[type="submit"]:active {
    color: snow;
    background-color: #4bbc5c;
    border-color: #4bbc5c;
}